h1{
	color: white;
	text-align: center;
	font-variant: small-caps;
}
h2{
	text-decoration: underline;
	color: midnightblue;
}
img.kepek {
  margin: 20px 0px;
  border-radius: 4px;
  height: 150px;
  padding: 0px;
  justify-content: center;
  border: outset 5px;
  border-color: cornflowerblue;
}
body{
	margin-left: 350px;
	margin-right: 350px ;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: cornsilk;
	border-radius: 10px;
}
h1{
	background-color: midnightblue;
	border-radius: 10px;
	margin-right: -20px;
	margin-left: -20px;
}
html { background-color: cadetblue; }
img.nyelvvizsga{
	height: 24px;
}


